.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard__balance {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}

.dashboard__budget-overview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
